# Default ignored files
/../../FlugzeugObjekteKlassen./.idea/shelf/
/../../FlugzeugObjekteKlassen./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../FlugzeugObjekteKlassen./.idea/httpRequests/
# Datasource local storage ignored files
/../../FlugzeugObjekteKlassen./.idea/dataSources/
/../../FlugzeugObjekteKlassen./.idea/dataSources.local.xml
